{% extends "page.html" %}
{% load bootstrap %}
{% block style %}
    <style type="text/css">
          html, body {
             height: 100%;
            }

            .btn-primary {
                border-color: #F1CB62;
                background: #F1CB62;
            }

            .form-signin {
              width: 100%;
              max-width: 500px;
              padding: 15px;
              margin: auto;
            }
            .form-signin .checkbox {
              font-weight: 400;
            }
            .form-signin .form-control {
              position: relative;
              box-sizing: border-box;
              height: auto;
              padding: 10px;
              font-size: 16px;
            }
            .form-signin .form-control:focus {
              z-index: 2;
            }
            .form-signin input[type="email"] {
              margin-bottom: -1px;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
            }
            .form-signin input[type="password"] {
              margin-bottom: 10px;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
    </style>

{% endblock %}
{% block content %}


    <title> Cadastro </title>

    {% if request.user.is_authenticated %}
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="container col-lg-4" >
                <p align="center"> Faça o cadastro do seu produto </p> <br>
                {{ form|bootstrap }}
                <input type="submit" class="btn btn-lg btn-primary btn-block" style="color: black;font-weight: bold" value="Cadastrar">
            </div>
        </form>
    {% else %}
            <div class="card w-100" >
               <div class="card-body">
                   <p align="center"> Olá, faça o <a href="/login"> login na sua conta </a> ou <a href="/registro"> cadastre-se </a>
                       para divulgar seus produtos no nosso catalogo! </p> <br>

                </div>
            </div>
    {% endif %}

{% endblock %}
