{% extends 'page.html' %}

{% block style %}
     <style>
        div.container {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
{% endblock %}
{% block  content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8">
                <div>
                    <img src="{{ produtos.imagem.url }}" style="width: 90%">
                </div>
                <br>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <b>Informações do produto: </b>
                <br>
                <br>
                <b>Titulo: </b>{{ produtos.titulo }}<br>
                <b>Preço: </b>{{ produtos.preco }}<br>
                <b>Descrição: </b>{{ produtos.descricao }}<br>
                <b>Categoria: </b>{{ produtos.categoria }}<br>
                <b>Em estoque: </b>{{ produtos.quantidade }}<br>
                <br>
                <br>
                 <b>Informações do vendedor: </b>
                <br>
                <br>
                <b>Nome: </b>{{ produtos.user.first_name }} <br>
                <b>Contato: </b>{{ produtos.user.email }} <br>
                <b>Nome de usuário: </b>{{ user.username }} <br>

                <br>
                <br>
                <br>
                <a href="javascript: history.go(-1)" class="btn btn-primary"> Voltar </a>
                {% if request.user == produtos.user %}
                    <a href="/editar/{{ produtos.id }}">
                        <button type="button" class="btn btn-primary">Alterar</button>
                    </a>
                    <a href="/delete/{{ produtos.id }}/">
                        <button type="button" class="btn btn-danger" >Excluir</button>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}

