{% extends "page.html" %}

{% block style %}
    <style type="text/css">
          html, body {
             height: 100%;
            }

            .btn-primary {
                border-color: #F1CB62;
                background: #F1CB62;
            }

            .form-signin {
              width: 100%;
              max-width: 500px;
              padding: 15px;
              margin: auto;
            }
            .form-signin .checkbox {
              font-weight: 400;
            }
            .form-signin .form-control {
              position: relative;
              box-sizing: border-box;
              height: auto;
              padding: 10px;
              font-size: 16px;
            }
            .form-signin .form-control:focus {
              z-index: 2;
            }
            .form-signin input[type="email"] {
              margin-bottom: -1px;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
            }
            .form-signin input[type="password"] {
              margin-bottom: 10px;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
    </style>

{% endblock %}
{% block content %}



    <title> Alterar</title>
     <form enctype="multipart/form-data" class="form-signin", action="{% url 'edite' produto.id %}" , method="POST"> {% csrf_token %}
        <div class="card w-100" >
           <div class="card-body">
                <p align="center"> Altere informações do seu produto </p> <br>
                <div class="form-group">
                    <label for="text"> Titulo do produto </label>
                    <input type="text" class="form-control" id="titulo" name="titulo" value="{{ produto.titulo }}" >
                </div>

                <div class="form-group">
                    <label for="text">Preço</label>
                    <input type="text" class="form-control" id="preco" name="preco" value="{{ produto.preco }}" required>
                </div>

                <div class="form-group">
                    <label for="text">Descrição</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" value="{{ produto.descricao }}"required>
                </div>

                <div class="form-group">
                    <label for="text">Quantidade</label>
                    <input type="text" class="form-control" id="quantidade" name="quantidade" value="{{ produto.quantidade }}" required>
                </div>

                <div class="form-group">
                    <label for="text">Categoria:</label>
                    <input type="text" class="form-control" id="categoria" name="categoria" value="{{ produto.categoria }}" required>
                </div>

                <div class="form-group">
                    <label for="text">Referencia</label>
                    <input type="text" class="form-control" id="referencia" name="referencia" value="{{ produto.referencia }}" required>
                </div>
                {{ form_class }}
               <div class="form-group">
                   <a href="/media/{{ produto.imagem }}/"> <label for="text">Imagem: imagem já selecionada</label></a>
                    <input type="file" class="form-control" name="imagem"  id="imagem" value="{{ produto.imagem.url }}" accept="image/*">
                </div>

                <div class="form-group">
                    Promoção: <input type="checkbox" id="descricao" name="descricao" value="sim">
                </div>

                <div class="form-group">
                    <label for="text">Valor na promoção: </label>
                    <input type="text" class="form-control" id="precopromocao" name="precopromocao" value="{{ produto.precopromocao }}">
                </div>

                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                    <button type="submit" class="btn btn-lg btn-primary btn-block" style="color: black;font-weight: bold"> Alterar </button>
            <br>

            </div>
        </div>
     </form>
{% endblock %}
